.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px; 
}

.cocktail-container {
    width: 150px; 
    height: 200px; 
    margin: 10px;
    text-align: center;
    display: inline-block;
    background-color: #f8f8f8; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out; 
}

.cocktail-container:hover {
    transform: scale(1.05); 
}

.cocktail-image {
    max-width: 100%;
    max-height: 70%; 
    border-bottom: 1px solid #ddd; 
}


.cocktail-title {
    font-size: 16px; 
    margin-top: 10px; 
    color: #333; 
}


